* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #764ba2;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}


.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  gap: 20px;
}

.columna1,
.columna2,
.columna3 {
  width: 100%;
  min-height: 250px;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 10px;
}

.columna1 {
  background-color: #f093fb;
}

.columna2 {
  background-color: #4facfe;
}

.columna3 {
  background-color: #43e97b;
}

@media (min-width: 600px) {
  .columna1 {
    width: 60%;
    -webkit-order: 2;
    order: 2;
  }

  .columna2 {
    width: 40%;
    -webkit-order: 1;
    order: 1;
  }

  .columna3 {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
}


@media (min-width: 800px) {
  .columna2,
  .columna3 {
    width: 20%;
  }
}
