* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #764ba2;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

/* Mostly Fluid Pattern */
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  gap: 20px;
}

.columna1,
.columna2,
.columna3,
.columna4,
.columna5 {
  width: 100%;
  min-height: 150px;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
}

.columna1 {
  background-color: #f5576c;
  min-height: 200px;
}

.columna2 {
  background-color: #4facfe;
}

.columna3 {
  background-color: #43e97b;
}

.columna4 {
  background-color: #fa709a;
}

.columna5 {
  background-color: #30cfd0;
}


@media (min-width: 600px) {
  .columna2,
  .columna3,
  .columna4,
  .columna5 {
    width: 50%;
  }

  
  @media (min-width: 800px) {
    .columna1 {
      width: 60%;
    }

    .columna2 {
      width: 40%;
    }

    .columna3,
    .columna4,
    .columna5 {
      width: 33.33%;
    }

    .container {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
